<app-header></app-header>
<main class="movie-details-container">
  <div id="sidebarTemplate"></div>
  <div class="movie-description">
    <div class="movie-image">
      <img src="{{film?.Cover}}">
      <div class="rating">
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
        <span>★</span>
      </div>
      <table>
        <tbody style="color: white">
        <tr>
          <td>Director</td>
          <td>{{ film?.Director }}</td>
        </tr>
        <tr>
          <td>Producers</td>
          <td>{{ film?.Producers }}</td>
        </tr>
        <tr>
          <td>Cast</td>
          <td>{{ film?.Cast }}</td>
        </tr>
        <tr>
          <td>Genres</td>
          <td>{{ film?.Genres }}</td>
        </tr>
        <tr>
          <td>Length</td>
          <td>{{ film?.Length }}</td>
        </tr>
        <tr>
          <td>Streaming platforms</td>
          <td>{{ film?.StreamingPlatforms }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <h1 style="color: white">{{ film?.Title }}</h1>
      <p class="movie-text" style="color: white">{{ film?.Description }}</p>
      <div class="movie-trailer" style="color: white">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/CpXJHWSXJW0?si=VEC6oNjDwqpNKK68"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
      </div>
    </div>
  </div>

  <h2>Comentarios</h2>
  <br>
  <section class="comment-section" style="color: white">
    <div class="comments">
      <img alt="profile" src="../../../assets/images/profile_photos/Profile-photo.jpg" class="film-image" />
      <div class="comment-text">
        <strong class="user-name">
          <span>John Doe</span>
          <br />
        </strong>
        <span class="comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        elementum cursus erat. Aliquam dolor nibh, convallis in massa nec,
                        pellentesque ultricies velit. Nam interdum efficitur felis eget
                        tincidunt..
                    </span>
      </div>
    </div>
    <div class="comments" style="color: white">
      <img alt="profile" src="../../../assets/images/profile_photos/Profile-photo1.jpg" class="film-image" />
      <div class="comment-text">
        <strong class="user-name">
          <span>Jane Doe</span>
          <br />
        </strong>
        <span class="coment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        elementum cursus erat. Aliquam dolor nibh, convallis in massa nec,
                        pellentesque ultricies velit. Nam interdum efficitur felis eget
                        tincidunt..
                    </span>
      </div>
    </div>
  </section>
  <h2>Películas relacionadas</h2>
  <br>
  <section>
    <div class="movies-container">
      <div *ngFor="let film of films">
        <app-highlighted-film-card [id]="film.id" [fileUrl]="film.Cover"></app-highlighted-film-card>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
