<app-header></app-header>
<main>
  <app-profile-header></app-profile-header>
  <div class="scoreboard">
    <div class="scoreboard__name">Seguidores</div>
    <div class="scoreboard__name">Siguiendo</div>
    <div class="scoreboard__score">0</div>
    <div class="scoreboard__score">0</div>
  </div>

  <section id="favotite-films">
    <div class="sections">
      <h1>Peliculas favoritas</h1>
      <div class="movies-container">
        <div *ngFor="let item of items">
          <app-simple-film-card [id]="item.id" [fileUrl]="item.fileUrl"
                                [time]="item.time"></app-simple-film-card >
        </div>
      </div>

    </div>
  </section>
  <section id="watched-films">
    <div class="sections">
      <h1>Peliculas vistas</h1>
      <div class="movies-container">
        <div *ngFor="let item of items">
          <app-simple-film-card [id]="item.id" [fileUrl]="item.fileUrl"
                                [time]="item.time"></app-simple-film-card>
        </div>
      </div>

    </div>
  </section>
  <section id="waiting-to-see-films">
    <div class="sections">
      <h1>Peliculas vistas</h1>
      <div class="movies-container">
        <div *ngFor="let item of items">
          <app-simple-film-card [id]="item.id" [fileUrl]="item.fileUrl"
                                [time]="item.time"></app-simple-film-card>
        </div>
      </div>

    </div>
  </section>
  <section id="lists">
    <div class="sections">
      <div class="etiqueta-bonita">Listas</div>

    </div>
    <div class="movies-container">

    </div>
  </section>

  <div id="footer"></div>
</main>
<app-footer></app-footer>
