<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../styles/global_styles.css">
    <link rel="stylesheet" href="../../views/movie_description/movie-description-style.css">
    <title>Movie Description</title>
</head>

<body>
    <div id="header"></div>
    <main class="movie-details-container">
        <div id="sidebarTemplate"></div>
        <div class="movie-description">
            <div class="movie-image">

                <div class="rating">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                </div>
            </div>
            <div id="title-description">
                <div class="movie-trailer" style="color: white">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CpXJHWSXJW0?si=VEC6oNjDwqpNKK68"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <table>
            <tbody style="color: white">
                <tr id="movie-director">
                    <td>Director</td>
                </tr>
                <tr id="movie-producers">
                    <td>Producers</td>
                </tr>
                <tr id="movie-cast">
                    <td>Cast</td>
                </tr>
                <tr id="movie-genres">
                    <td>Genres</td>
                </tr>
                <tr id="movie-length">
                    <td>Length</td>
                </tr>
                <tr id=movie-streaming-platforms>
                    <td>Streaming platforms</td>
                </tr>
            </tbody>
        </table>
        <h2>Comentarios</h2>
        <br>
        <section class="comment-section" style="color: white">
            <div class="comments">
                <img alt="profile" src="../../../assets/images/profile_photos/Profile-photo.jpg" class="film-image" />
                <div class="comment-text">
                    <strong class="user-name">
                        <span>John Doe</span>
                        <br />
                    </strong>
                    <span class="comment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        elementum cursus erat. Aliquam dolor nibh, convallis in massa nec,
                        pellentesque ultricies velit. Nam interdum efficitur felis eget
                        tincidunt..
                    </span>
                </div>
            </div>
            <div class="comments" style="color: white">
                <img alt="profile" src="../../../assets/images/profile_photos/Profile-photo1.jpg" class="film-image" />
                <div class="comment-text">
                    <strong class="user-name">
                        <span>Jane Doe</span>
                        <br />
                    </strong>
                    <span class="coment">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                        elementum cursus erat. Aliquam dolor nibh, convallis in massa nec,
                        pellentesque ultricies velit. Nam interdum efficitur felis eget
                        tincidunt..
                    </span>
                </div>
            </div>
        </section>
        <h2>Películas relacionadas</h2>
        <br>
        <section>
            <div class="movies-container">
                <div class="simpleFilmCard" data-link="../../../assets/images/films_covers/avatar.jpg"
                     data-time="30 Mins"
                     data-id=1>
                </div>

                <div class="simpleFilmCard" data-link="../../../assets/images/films_covers/matrix.jpg"
                     data-time="30 Mins"
                     data-id=2>
                </div>

                <div class="simpleFilmCard" data-link="../../../assets/images/films_covers/the_dark_knight.jpg"
                     data-time="30 Mins"
                     data-id=3></div>

                <div class="simpleFilmCard" data-link="../../../assets/images/films_covers/the_godfather.jpg"
                     data-time="30 Mins"
                     data-id=4></div>

                <div class="simpleFilmCard" data-link="../../../assets/images/films_covers/breaking_bad.jpg"
                     data-time="30 Mins"
                     data-id=20></div>
            </div>
        </section>
    </main>

    <div id="footer"></div>

    <script src="../../components/film_card/simple_card/film_card.js"></script>
    <script src="../../components/header/header.js"></script>
    <script src="../../components/sidebar/sidebar.js"></script>
    <script src="../../components/footer/footer.js"></script>
    <script src="film-description-load.js"></script>
</body>

</html>