<app-header (sidebarStatus)="handleSidebar($event)"></app-header>
<app-sidebar [isOpen]="showSidebar"></app-sidebar>

<main class="main-page">
  <div id="sidebar_component"></div>
  <div id="search-menu"></div>

  <div class="main-cover">
    <img src="../../assets/images/films_main_covers/Screen-Shot-2018-01-31-at-5.55.24-AM.png" alt="" />
  </div>

  <section>
    <h1>Tendencia</h1>
    <div class="movies-container">
      <div *ngFor="let item of items">
        <app-highlighted-film-card [id]="item.id" [fileUrl]="item.fileUrl" [time]="item.time"></app-highlighted-film-card>
      </div>
    </div>
</section>

<section>
    <h1>Recientemente vistas</h1>
    <div class="movies-container">
      <div *ngFor="let item of items">
        <app-highlighted-film-card [id]="item.id" [fileUrl]="item.fileUrl" [time]="item.time"></app-highlighted-film-card>
      </div>
    </div>
</section>
</main>

<app-footer></app-footer>
