<body>
  <div class="login-container">
    <form [formGroup]="reactiveForm" (ngSubmit)="login_user()" class="form">
      <h1 class="title">Log In</h1>
      <input type="email" placeholder="Email" class="input" formControlName="email"/>
      <div *ngIf="reactiveForm.controls['email'].touched && reactiveForm.controls['email'].errors?.['required']"
           class="error-container">
        <span class="error-message">
          Debe rellenar este campo
        </span>
      </div>
      <div *ngIf="reactiveForm.controls['email'].touched && reactiveForm.controls['email'].errors?.['email']"
           class="error-container">
        <span class="error-message">
          Introduzca un correo electrónico válido
        </span>
      </div>
      <input type="password" placeholder="Password" class="input" formControlName="password"/>
      <div *ngIf="reactiveForm.controls['password'].touched && reactiveForm.controls['password'].errors?.['required']"
           class="error-container">
        <span class="error-message">
          Debe rellenar este campo
        </span>
      </div>
      <button type="submit" class="submit">Log In</button>
      <p class="footer">
        Don't have an account?
        <a [routerLink]="['/register']" class="link">Register here</a>
      </p>
    </form>
    <div class="banner">
      <h1 class="welcome-text">Welcome!!</h1>
      <p class="banner-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </div>  
</body>

