.logo {
    font-size: 30px
}

.filter-header {
    display: inline-block;
    background-color: yellow;
    border: none;
    color: #000;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    margin: 5px;
}

/* Estilos para el contenido principal */
#content {
    margin-right: 250px;
    /* Ajusta el margen para mostrar el contenido principal */
}

/* Estilos para mostrar el sidebar */
#sidebar {
    z-index: 100;
}

/* Estilos para el contenedor del ícono */
.iconContainer {
    cursor: pointer;
    box-sizing: border-box;
    padding-top: 5px;
    width: fit-content;
    transition: all 0.3s ease;
    margin-right: 10px;
}

/* Estilos para el ícono de búsqueda */
.search_icon {
    box-sizing: border-box;
    fill: yellow;
    font-size: 2em;
    /* Tamaño del ícono, ajusta según sea necesario */
}

.search-container {
    color: yellow;
    left: 0px;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 100;
}

.input__container--variant {
    display: flex;
    position: relative;
    /* Cambiado a relative para no tener que usar z-index */
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, black, black);
    border-radius: 1.5em;
    padding: 1em;
    box-shadow: 0em 1em 3em yellow;
    margin: 20px auto;
    /* Espacio entre los contenedores */
}

@media (max-width: 767px) {
    .input__container--variant {
        width: 95%;
    }
}

@media (min-width: 768px) {
    .input__container--variant {
        width: 75%;
    }
}

.input__search--variant {
    width: 90%;
    align-items: center;
    border-radius: 13em;
    border: 1px solid yellow;
    padding: 0.8em;
    font-size: 1.2em;
    color: yellow;
    background-color: transparent;
    margin-bottom: 10px;
}

.input__button__shadow--variant {
    cursor: pointer;
    border-radius: 15px;
    background-color: yellow;
    padding: 10px;
    border: none;
    margin-top: 10px;
}

.input__button__shadow--variant:hover {
    background-color: #575757;
}
