<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="register.component.css" />
  <title>Register</title>
</head>
<body>
<div class="register-container">
  <form action="" class="form" id="form">
    <h1 class="title">Register</h1>
    <input type="text" placeholder="User Name" class="register-input" required/>
    <input type="email" placeholder="Email" class="register-input" required/>
    <input type="password" placeholder="Password" class="register-input" id="password1" required/>
    <input
      type="password"
      placeholder="Confirm Password"
      class="register-input"
      id="password2"
      required
    />
    <button type="submit" class="submit">
          <span>
            <span>Register</span>
            <br />
          </span>
    </button>
    <p class="footer">
      Already have an account?
      <a href="../login/login.html" class="link">Log in here</a>
    </p>
  </form>
  <div class="banner">
    <h1 class="welcome-text">Welcome!!</h1>
    <p class="banner-text">
      Lorem ipsum<br />dolor <br />
      register
    </p>
  </div>
</div>
</body>
</html>
