<div class="movies-container">
  <div *ngFor="let film of films" class="movie-instance">
    <div class="movie">
      <div class="movie-card">
        <div class="movie-card-content">
          <div class="movie-card-back">
            <div class="movie-card-back-content">
              <img src="{{ film.Cover }}" alt="">
            </div>
          </div>
          <div class="movie-card-front">
            <div class="movie-card-front-content">
              <small class="badge">Categoría</small>
              <div class="description">
                <div class="title">
                  <div class="rating">
                    <span>★</span>
                    <span>★</span>
                    <span>★</span>
                    <span>★</span><span>★</span>
                  </div>
                </div>
                <p class="card-footer">
                  {{ time }} &nbsp;
                </p>
                <a [routerLink]="['/movie-description']">
                  <button class="watch-more-button" data-id="{{ id }}" (click)="selectFilm(film)">Ir</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

