<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOVIEIT</title>
    <link rel="stylesheet" href="../../../styles/global_styles.css" />
    <link rel="stylesheet" href="../../components/header/header.css" />
  </head>

  <body>
    <main class="main-page">
      <div id="sidebar_component"></div>
      <div id="search-menu"></div>

      <div class="main-cover">
        <img
          src="../../../assets/images/films_main_covers/Screen-Shot-2018-01-31-at-5.55.24-AM.png"
          alt=""
        />
      </div>
      <section>

        <h1>Tendencia</h1>
        <!-- Contenido cargado del JSON -->
        <div id="highlightedFilmsContainer" class="movies-container"></div>
      </section>

      <section>
        <h1>Recientemente vistas</h1>
        <div id="simpleFilmsContainer" class="movies-container"></div>
      </section>
    </main>

  <div id="footer"></div>

    <script src="../../components/film_card/highlighted_card/h_film_card.js"></script>
    <script src="../../components/film_card/highlighted_card/n_h_film_card.js"></script>
    <script src="../../components/film_card/simple_card/n_film_card.js"></script>
    <script src="../../components/film_card/simple_card/film_card.js"></script>
    <script src="../../components/header/header.js"></script>
    <script src="../../components/sidebar/sidebar.js"></script>
    <script src="../../components/search-menu/search-menu.js"></script>
    <script src="../../components/footer/footer.js"></script>
  </body>
</html>
