<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIEIT</title>
    <link rel="stylesheet" href="/styles/global_styles.css">
</head>

<body>
    <div id="header"></div>

    <main class="main-page">
        <div id="sidebarTemplate"></div>

        <div class="main-cover">
            <img src="/assets/images/films_main_covers/Screen-Shot-2018-01-31-at-5.55.24-AM.png" alt="">
        </div>

        <section>
            <h1>Tendencia</h1>
            <div class="movies-container">
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back">
                                <div class="movie-card-back-content">
                                    <img src="/assets/images/films_covers/avatar.jpg" alt="">
                                </div>
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back">
                                <div class="movie-card-back-content">
                                    <img src="/assets/images/films_covers/matrix.jpg" alt="">
                                </div>
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back">
                                <div class="movie-card-back-content">
                                    <img src="/assets/images/films_covers/the_dark_knight.jpg" alt="">
                                </div>
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back">
                                <div class="movie-card-back-content">
                                    <img src="/assets/images/films_covers/the_godfather.jpg" alt="">
                                </div>
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back">
                                <div class="movie-card-back-content">
                                    <img src="/assets/images/films_covers/breaking_bad.jpg" alt="">
                                </div>
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <h1>Recientemente vistas</h1>
            <div class="movies-container">
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back-content">
                                <img src="/assets/images/films_covers/avatar.jpg" alt="">
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back-content">
                                <img src="/assets/images/films_covers/matrix.jpg" alt="">
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back-content">
                                <img src="/assets/images/films_covers/the_dark_knight.jpg" alt="">
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back-content">
                                <img src="/assets/images/films_covers/the_godfather.jpg" alt="">
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <div class="movie-card">
                        <div class="movie-card-content">
                            <div class="movie-card-back-content">
                                <img src="/assets/images/films_covers/breaking_bad.jpg" alt="">
                            </div>
                            <div class="movie-card-front">
                                <div class="movie-card-front-content">
                                    <small class="badge">Categoría</small>
                                    <div class="description">
                                        <div class="title">
                                            <div class="rating">
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span>
                                                <span>★</span><span>★</span>
                                            </div>
                                        </div>
                                        <p class="card-footer">
                                            30 Mins &nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <div id="footer"></div>

    <script src="/app/components/header/header.js"></script>
    <script src="/app/components/sidebar/sidebar.js"></script>
    <script src="/app/components/footer/footer.js"></script>
</body>

</html>