<div class="iconContainer">
  <svg viewBox="0 0 512 512" height="1em" xmlns="http://www.w3.org/2000/svg" class="search_icon" (click)="toggleSearchMenu()">
    <path
      d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z">
    </path>
  </svg>
  <<!--<div class="search-container" id="searchMenu" [ngStyle]="{'display': closed ? 'none' : 'flex'}">
    <div class="input__container input__container--variant">
      <input type="text" name="text" class="input__search input__search--variant" placeholder="Search...">
      <button class="input__button__shadow input__button__shadow--variant">
        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="1.5em" width="13em">
          <path d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z" fill-rule="evenodd" fill="#000"></path>
        </svg>
      </button>
    </div>
    <div class="input__container input__container--variant">
      <h1 class="filter-header">Filtros</h1>
      <div id="genreFilter" class="filter">
        <h3>Género</h3>
        <ul>
          <li><input type="checkbox" value="action"> Acción</li>
          <li><input type="checkbox" value="comedy"> Comedia</li>
          <li><input type="checkbox" value="drama"> Drama</li>
        </ul>
      </div>
      <div id="yearFilter" class="filter">
        <h3>Año</h3>
        <select id="yearSelect">
          <option value="2022">2022</option>
          <option value="2021">2021</option>
          <option value="2020">2020</option>
        </select>
      </div>
    </div>
  </div>-->

</div>
