<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login-register-style.css">
    <title>LogIn</title>
</head>
<body>
<div class="login-container">
    <form action="" class="form">
        <h1 class="title">Log In</h1>
        <input type="email" placeholder="Email" class="input"/>
        <input type="password" placeholder="Password" class="input"/>
        <button type="button" class="submit">
      <span>
        <span>Log In</span>
        <br/>
      </span>
        </button>
        <p class="footer">
            Don't have an account?
            <a href="../register/register.html" class="link">Register here</a>
        </p>

    </form>
    <div class="banner">
        <h1 class="welcome-text">Welcome!!</h1>
        <p class="banner-text">Lorem ipsum<br/>dolor <br/> login</p>
    </div>
</div>
</body>
</html>