<app-header></app-header>

<main class="main-page">
    <div id="sidebar_component"></div>
    <div id="search-menu"></div>

    <div class="main-cover">
        <img src="../../assets/images/films_main_covers/Screen-Shot-2018-01-31-at-5.55.24-AM.png" alt="" />
    </div>

    <section>
        <h1>Tendencia</h1>
        <app-highlighted-film-card></app-highlighted-film-card>
    </section>

    <section>
        <h1>Recientemente vistas</h1>
        <app-highlighted-film-card></app-highlighted-film-card>
    </section>
</main>

<app-footer></app-footer>
