<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOVIEIT</title>
  <link rel="stylesheet" href="../../../styles/global_styles.css">
  <link rel="stylesheet" href="./styles2.css">
  <link rel="stylesheet" href="./styles3.css">
  <link rel="stylesheet" href="../../components/header/header.css" />
</head>

<body>
<div id="header"></div>
<div id="sidebar_component"></div>
<div id="search-menu"></div>
<div class="main-page">
  <div id="profile-header"></div>
  <section id="profile-options">
    <div class="half-container">
      <div class="half half-left">
        <div class="formulario1">
          <div class="formulario2">
            <form method="get">
              <br>
              <div class="formulario3">
                <label class="etiqueta-bonita">Nombre de usuario:</label>
              </div>
              <input type="text" name="q" placeholder="Nombre de usuario">
            </form>
          </div>
        </div>
        <br>
        <br>
        <br>
        <div class="formulario1">
          <div class="formulario2">
            <form method="get">
              <div class="formulario3">
                <label class="etiqueta-bonita">Contraseña:</label>
              </div>
              <div class="formulario3">
                <input type="password" name="q" placeholder="Contraseña actual">
                <br>
                <input type="password" name="q" placeholder="Nueva contraseña">
                <br>
                <input type="password" name="q" placeholder="Confirmar nueva contraseña">
              </div>
            </form>
          </div>
        </div>
        <br>
        <div class="formulario1">
          <div class="formulario2">
            <form method="get">
              <br>
              <div class="formulario3">
                <label class="etiqueta-bonita">Correo electrónico:</label>
              </div>
              <div class="formulario3">
                <input type="text" name="q" placeholder="Correo electrónico">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="half half-right">
        <div class="tipo">
          <div class="etiqueta-bonita">Foto actual</div>
        </div>
        <div class="photos">
          <div class="photos2">
            <div class="user-img2">
              <img src="../../../assets/images/films_profile_covers/user/Avatar2.jpeg" alt="Descripción de la imagen">
            </div>
          </div>
          <div class="others">
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/Avatar2.jpeg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/MaryPoppins.png" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/Godzilla.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/Olaf.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/TylerDurden.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/Tiffanys.jpeg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/HollyGolightly.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/ScarlettOhara.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/GrouchoMarx.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/MrBean.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/KingKong.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/Deadpool.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/ElBueno.jpeg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/IndianaJonespf.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/KatnissEverdeen.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/Ghostbusters.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/Barbie.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/Ken.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/JackSkellington.jpg" alt="Descripción de la imagen">
            </div>
            <div class="user-img3">
              <img src="../../../assets/images/films_profile_covers/user/WilliamWallace.jpg" alt="Descripción de la imagen">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="botones load">
    <a href="../profile/profile.html">
      <button>Guardar Cambios</button>
    </a>
    <a href="../profile/profile.html">
      <button>Cancelar Cambios</button>
    </a>
  </div>
  <div id="footer"></div>

  <script src="../../components/header/header.js"></script>
  <script src="../../components/sidebar/sidebar.js"></script>
  <script src="../../components/search-menu/search-menu.js"></script>
  <script src="../../components/footer/footer.js"></script>
  <script src="../../components/profile-header/profile-header.js"></script>
  <script src="../../components/profile-header/script1.js"></script>
</div>
</body>

</html>
