.header-user {
    left: 0;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.header-img img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.user-img img {
    overflow: hidden;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    z-index: 1;
    top: 51px;
    left: 38px;
    position: absolute;
}

.user-name {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
    top: 70px;
    left: 170px;
    position: absolute;
    color: black;
}

.edit {
    background-color: yellow;
    color: black;
    position: absolute;
    height: 30px;
    width: 100px;
    top: 125px;
    left: 175px;
    margin-left: 20px;
    padding: 0;
    border: 1px solid black;
}


.edit:hover {background-color: rgb(255, 246, 168); border: 2px solid yellow;}

.close {
    top: 20px;
    right: 20px;
    position: absolute;
    display: inline-block;
    font-size: 1rem;
    padding: 0.4em 0.4em;
    background-color: #000;
    border: 3px solid yellow;
    border-radius: 1em;
    color: #fff;
    font-weight: bolder;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
    box-shadow: 0 0 0 0 yellow;
    cursor: pointer;
    margin-right: 5px;

}
.close:hover {
    box-shadow: 0 0 10px #ef97e8, 0 0 20px #ef97e8, 0 0 20px #fff inset;
}
.scoreboard{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    font-size: 2rem;
}

.scoreboard__name{
    font-weight: bold;
    border-bottom: 1px solid #ddd;

}
.scoreboard__name,
.scoreboard__score{
    padding: 10px;
    text-align: center;
}

.sections{
    width: 100%;
    display: flex;
    position: relative;
}

.favorite{
    top: 351px;
    left: 96px;
    width: calc(100% - 96px);
}

.watched{
    top: 780px;
    left: 96px;
    width: calc(100% - 96px);
    z-index: 1;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: yellow;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 0);
}

.movie-card {
    overflow: visible;
    width: 200px;
    height: 300px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.round {
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    border: 2px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

#cta-favorites,#cta-watched,#cta-toSee,#cta-lists{
    width:100%; cursor: pointer; position: absolute;
}

#cta-favorites,#cta-watched,#cta-toSee,#cta-lists .arrow{left: 30%;}
.arrow {position: absolute;  margin-left:0; width: 12px; height: 12px; background-size: contain; top:14px;}
.segunda{margin-left: 8px;}
.next {
	background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.round:hover .arrow{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}
.round:hover .arrow.primera{
    animation-name: bounceAlpha;
    animation-duration:1.4s;
    animation-delay:0.2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.etiqueta-bonita {
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: yellow;
    border: none;
    color: #000;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 #fff;
    box-shadow: 4px 4px 0 #000;
    overflow: hidden;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-radius: 10px; /* Redondea las esquinas */
}

.container {
    position: absolute;
    top: 10%;
    right: 45%;
    align-items: center;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 99999;
}

.more-menu {
    width: 100px;
    right: 0%;
    display: inline-grid;
}

/* More Button / Dropdown Menu */

.more-btn,
.more-menu-btn {
    background: none;
    border: 0 none;
    line-height: normal;
    overflow: visible;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.more-dot {
    background-color: #aab8c2;
    margin: 0 auto;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 1px;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.more-menu {
    position: absolute;
    top: 100%;
    z-index: 900;
    float: left;
    padding: 0px 0;
    margin-top: 0px;
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
    opacity: 0;
    transform: translate(0, 15px) scale(.95);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

.more-menu-caret {
}

.more-menu-caret-outer,
.more-menu-caret-inner {
}

.more-menu-caret-outer {
}

.more-menu-caret-inner {
}

.more-menu-items {
    margin: 0;
    list-style: none;
    padding: 0;
}

.more-menu-item {
    display: block;
}

.more-menu-btn {
    min-width: 100%;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 0.6rem;
    font-weight: bold;
    line-height: 18px;
    padding: 5px 20px;
    position: relative;
    white-space: nowrap;
    background-color: yellow;
    border-color :pink;
}

.more-menu-item:hover {
    background-color: #489fe5;
}

.more-menu-item:hover .more-menu-btn {
    color: #fff;
}

.more-btn:hover .more-dot,
.show-more-menu .more-dot {
    background-color: #516471;
}

.show-more-menu .more-menu {
    opacity: 1;
    transform: translate(0, 0) scale(1);
    pointer-events: auto;
}

@media(max-width: 431px){
    body{
        background-color: black;
    }
    .main-page{
        margin: 15px;
    }
    .scoreboard{
        font-size: 1rem;
    }
    .header-img img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .header-user {
        height: 150px;
    }

    .user-img img{
        overflow: hidden;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        display: block;
        z-index: 1;
        top: 51px;
        left: 38px;
        position: absolute;
    }
    .user-name {
        font-size: 18px;
        font-weight: bold;
        z-index: 1;
        top: 35%;
        left: 27%;
    }
    .edit {
        font-size: 0.7rem;
        height: 22px;
        width: 80px;
        top: 100px;
        left: 30%;
    }
    .close {
        font-size: 0.7rem;
    }
    .movies-container {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 10px;
        -webkit-overflow-scrolling: touch;
    }
    .movie img {
        width: 100px;
        height: 200px;
        border-radius: 5px;
        cursor: pointer;
    }
    .movie-card {
        overflow: visible;
        width: 100px;
        height: 200px;
    }
    .etiqueta-bonita{
        font-size: 0.7rem;
    }
    .contenedorBotones{
        position: absolute;
        right:0px;
        display: inline-grid;
        font-size: 0.7rem;
        width: 100px;
    }

}
