<div class="header-user">
  <div class="header-img">
    <img src="../../../assets/images/films_header/BladeRunner.jpeg"
         id="imageToChange" alt="header"/>
  </div>
  <div class="user-img" *ngIf="authService.isLoggedIn">
    <img *ngIf="imageURL | async as url" [src]="url">
  </div>
  <div class="user-name">
    <div class="etiqueta-bonita" id="name">Nombre de Usuario</div>
  </div>
  <div class="buttons-mode" id="menu"></div>
  <div *ngIf="esPerfil()">
    <button class="btn edit" id="editar" [routerLink]="['/edit-profile']">Editar</button>
  </div>
  <button class="btn close" id="close">Cerrar Sesión</button>
</div>
