<div class="header-user">
  <div class="header-img">
    <img src="https://t3.ftcdn.net/jpg/05/58/61/32/360_F_558613274_Z1zbjnHZKjpnTvvsjfZzYXk2TIeUl54a.jpg"
         id="imageToChange" alt="header"/>
  </div>
  <div class="user-img">
    <img src="https://i.pinimg.com/236x/d6/1d/db/d61ddb6fd990e630bd61ec149ca6fca2.jpg">
  </div>
  <div class="user-name">
    <div class="etiqueta-bonita" id="name">Nombre de Usuario</div>
  </div>
  <div class="buttons-mode" id="menu"></div>
    <button class="btn edit" id="editar">Editar</button>
  <button class="btn close" id="close">Cerrar Sesión</button>
</div>
