<ion-content>
  <app-header></app-header>
  <ion-button color="warning" (click)="goBack()" >
    <ion-icon name="arrow-back"></ion-icon>
  </ion-button>
  <main class="movie-details-container" *ngIf="movie">
    <div id="sidebarTemplate"></div>
    <div class="movie-description">
      <div class="movie-image">
        <img [src]="movie?.Cover" alt="Movie Cover">
      </div>
      <div>
        <h1 style="color: white">{{ movie?.Title }}</h1>
        <p class="movie-text" style="color: white">{{ movie?.Description }}</p>
      </div>
    </div>
  </main>
</ion-content>
