<main class="movie-details-container">
  <div id="sidebarTemplate"></div>
  <div class="movie-description">
    <div class="movie-image">
      <img src="https://m.media-amazon.com/images/I/51YEHoMmlYL.jpg">
    </div>
    <div>
      <h1 style="color: white">Avatar</h1>
      <p class="movie-text" style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum
        cursus
        erat. Aliquam dolor nibh, convallis in massa nec, pellentesque ultricies velit. Nam interdum
        efficitur felis eget tincidunt. Mauris et odio sed ex pharetra vestibulum quis sit amet tellus.
        Praesent non consectetur felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
        per inceptos himenaeos. Morbi volutpat tortor nec ligula semper rutrum. Sed egestas risus quam, quis
        facilisis mi feugiat eget. Integer id scelerisque massa. In in enim eu dolor ultricies efficitur.
        Nam fermentum luctus luctus. Nulla sed lacus et dolor iaculis posuere eu sed massa. Phasellus ipsum
        leo, elementum eget pretium eget, tempor egestas elit.</p>
    </div>
  </div>
</main>
