/* ######################  AJUSTES NAVEGADOR  ###################### */

/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para la barra de desplazamiento horizontal en WebKit */
::-webkit-scrollbar {
  height: 12px; /* Altura de la barra de desplazamiento */
  background-color: #000; /* Color de fondo de la barra de desplazamiento */
}

/* Estilos para la pista de la barra de desplazamiento en WebKit */
::-webkit-scrollbar-track {
  background-color: #000; /* Color de fondo de la pista */
}

/* Estilos para el pulgar (la parte móvil) de la barra de desplazamiento en WebKit */
::-webkit-scrollbar-thumb {
  background-color: yellow; /* Color del pulgar */
  border-radius: 6px; /* Radio de borde del pulgar */
  border: 3px solid #000; /* Borde del pulgar */
}

/* Estilos para el pulgar cuando se está moviendo en WebKit */
::-webkit-scrollbar-thumb:hover {
  background-color: #bdb003; /* Cambia el color del pulgar cuando se pasa el mouse sobre él */
}

/* Estilos para la barra de desplazamiento horizontal en Firefox */
@supports (-moz-appearance:none) {
  /* Estilos para la pista en Firefox */
  html {
    scrollbar-color: yellow black; /* Define el color de la barra (pulgar) y el color de la pista, respectivamente */
    scrollbar-width: auto; /* Define el grosor de la barra */

  }
}

/* #################################################################### */

h1 {
  display: inline-block; /* Hace que el título ocupe solo el ancho del texto */
  background-color: yellow;
  border: none;
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #fff;
  box-shadow: 4px 4px 0 #000;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  border-radius: 10px; /* Redondea las esquinas */
  margin: 5px;
}

.main-cover img{
  width: 100%; /* La imagen ocupará el 100% del ancho de la ventana */
  height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
}

.main-page{
  margin: 0 auto; /* Centra el cuerpo horizontalmente */
  max-width: 1200px; /* Establece un ancho máximo para el cuerpo */
  margin-top: 20px;
}

/* Estilos para la cabecera */
header {
  background-color: #000;
  color: white;
  padding: 10px;
  position: sticky; /* Fija el encabezado en relación con el desplazamiento */
  top: 0; /* Fija el encabezado en la parte superior de su contenedor */
  width: 100%; /* Ancho completo */
  z-index: 1000; /* Asegura que el encabezado esté por encima de otros elementos */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra si es necesario */
  border-bottom: 1px solid white; /* Agrega una línea blanca en la parte inferior */
  
}

/* Estilos para la barra de navegación */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Estilos para la parte izquierda de la barra de navegación */
.navbar-left {
  flex: 1;
}

/* Barra lateral */
.sidebar {
  position: fixed;
  top: 0;
  width: 250px;
  height: 100%;
  color: #000; /* Texto negro */
  padding: 20px;
  transition: left 0.3s ease, background-color 0.3s ease; /* Agregamos transición para el cambio de color de fondo */
  left: -250px; /* Oculta inicialmente */
  background-color: #000; /* Fondo negro cuando está oculta */
  top: 50px;
}

.sidebar.show-sidebar {
  left: 0;
  background-color: #ff0; /* Fondo amarillo cuando está visible */
}

.sidebar hr {
  border: none; /* Eliminar el borde predeterminado */
  height: 2px; /* Altura de la línea */
  background-color: #000; /* Color negro */
  margin: 5px 0; /* Margen superior e inferior */
}

.sidebar ul {
  list-style: none;
}

/* Estilos para el texto del logo */
.logo {
  font-size: 20px;
}

/* Estilos para la parte central de la barra de navegación */
.navbar-center {
  flex: 2;
  text-align: center;
}

/* Estilos para la barra de búsqueda */
.search-bar {
  display: inline-block;
}

.search-bar input[type="text"] {
  padding: 8px;
  width: 300px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  padding: 8px 16px;
  background-color: yellow;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #b8a906;
}

/* Estilos para la parte derecha de la barra de navegación */
.navbar-right {
  flex: 1;
  text-align: right;
}

/* Estilos para los botones de registrarse e iniciar sesión */
.navbar-right button {
  display: inline-block;
  font-size: 1rem;
  padding: 0.4em 0.4em;
  margin-right: 5px; /* Espacio entre los botones */
  background-color: #000;
  border: 3px solid yellow;
  border-radius: 1em;
  color: #fff;
  font-weight: bolder;
  transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
  box-shadow: -5px 5px 0px 0px yellow;
  cursor: pointer;
}


.navbar-right button:hover {
  transform: translate(5px, -5px);
}

/* Contenedor de peliculas */
.movies-container {
  display: flex;
  flex-wrap: nowrap; /* Evita que los elementos se envuelvan en varias filas */
  overflow-x: auto; /* Agrega una barra de desplazamiento horizontal si los elementos se desbordan */
  gap: 40px; /* Espaciado entre elementos */
  -webkit-overflow-scrolling: touch; /* Mejora el desplazamiento en dispositivos táctiles */
}

/* Estilos para la imagen de la película */
.movie img {
  width: 200px; /* Ancho deseado para todas las imágenes */
  height: 300px; /* Alto deseado para todas las imágenes */
  border-radius: 5px;
  cursor: pointer;
}

/* Estilo para peliculas */

.movie-card {
  overflow: visible;
  width: 200px;
  height: 300px;
}

.movie-card-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 300ms;
  box-shadow: 0px 0px 10px 1px #000000ee;
  border-radius: 5px;
}

.movie-card-front, .movie-card-back {
  background-color: #151515;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;
}

.movie-card-back {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.movie-card-back::before {
  position: absolute;
  content: ' ';
  display: block;
  width: 160px;
  height: 160%;
  background: linear-gradient(90deg, transparent, yellow, yellow, yellow, yellow, transparent);
  animation: rotation_481 5000ms infinite linear;
}

.movie-card-back-content {
  position: absolute;
  width: 99%;
  height: 99%;
  background-color: #151515;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.movie-card-back-content img {
    width: 100%; /* Ancho de la imagen al 100% del contenedor */
    height: 100%; /* Altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarla */
    border-radius: 4px;
}

.movie-card:hover .movie-card-content {
  transform: rotateY(180deg);
}

@keyframes rotation_481 {
  0% {
    transform: rotateZ(0deg);
  }

  0% {
    transform: rotateZ(360deg);
  }
}

.movie-card-front {
  transform: rotateY(180deg);
  color: white;
}

.movie-card-front .movie-card-front-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-card-front-content .badge {
  background-color: #00000055;
  padding: 2px 10px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  width: fit-content;
}

.description {
  box-shadow: 0px 0px 10px 5px #00000088;
  width: 100%;
  padding: 10px;
  background-color: #00000099;
  backdrop-filter: blur(5px);
  border-radius: 5px;
}

.title {
  font-size: 11px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.title p {
  width: 50%;
}

.movie-card-footer {
  color: #ffffff88;
  margin-top: 5px;
  font-size: 8px;
}

.movie-card-front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img img {
    width: 100%; /* Ancho de la imagen al 100% del contenedor */
    height: 100%; /* Altura de la imagen al 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin distorsionarla */
    border-radius: 4px;
}

@keyframes floating {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Claificacion con estrellas */
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating span {
  display: inline-block;
  font-size: 2em;
  color: orange;
}


/* Footer */
/* Estilos para el footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

.footer-line {
  border-top: 1px solid #fff;
  padding-top: 10px;
  margin-bottom: 10px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer-section {
  margin-right: 20px;
}

.footer-section h3 {
  margin-bottom: 10px;
  color: #ff0; /* Amarillo */
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-copyright {
  text-align: center;
  margin-top: 20px;
  color: #ff0; /* Amarillo */
}
