<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="../../../styles/global_styles.css">
  <link rel="stylesheet" href="../edit-profile/styles2.css">
  <link rel="stylesheet" href="../../components/header/header.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
</head>

<body>
<div id="search-menu"></div>
<div id="sidebar_component"></div>

<div id="header1"></div>
<div class="main-page">
  <div id="header2"></div>
  <div class="scoreboard">
    <div class="scoreboard__name">Seguidores</div>
    <div class="scoreboard__name">Siguiendo</div>
    <div class="scoreboard__score">0</div>
    <div class="scoreboard__score">0</div>
  </div>
  <section id="favorites-films">
    <div class="sections">
      <div class="etiqueta-bonita">Peliculas favoritas</div>
      <a href="../search-result-page/search-result-page.html">
        <div class="round">
          <div id="cta-favorites">
            <span class="arrow primera next "></span>
            <span class="arrow segunda next "></span>
          </div>
        </div>
      </a>
    </div>
    <div class="movies-container">
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/TronLegacy.jpg" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/Avatar2.jpeg" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/TheMarvels.webp" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/ArmyOfDead.webp" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/Queen.webp" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/BabyDriver.jpg" data-time="30 Mins">
      </div>
    </div>
  </section>
  <section id="watched-films">
    <div class="sections">
      <div class="etiqueta-bonita">Peliculas vistas</div>
      <a href="../search-result-page/search-result-page.html">
        <div class="round">
          <div id="cta-watched">
            <span class="arrow primera next "></span>
            <span class="arrow segunda next "></span>
          </div>
        </div>
      </a>
    </div>
    <div class="movies-container">
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/TheIntern.jpg" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/StarWars8.jpg" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/Skyfall.jpg" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/FordvFerrari.jpg" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/AliciaInWonderwall.webp"
           data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/AboutTime.jpg" data-time="30 Mins">
      </div>
    </div>
  </section>
  <section id="waiting-to-see-films">
    <div class="sections">
      <div class="etiqueta-bonita">Peliculas pendientes</div>
      <a href="../../views/search-result-page/search-result-page.html">
        <div class="round">
          <div id="cta-toSee">
            <span class="arrow primera next "></span>
            <span class="arrow segunda next "></span>
          </div>
        </div>
      </a>
    </div>
    <div class="movies-container">
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/OperacionUncle.jpg"
           data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/TheMenu.jpg" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/DoctorStrange2.jpg"
           data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/Ghostbusters.jpg" data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/ShawshankRedemption.jpg"
           data-time="30 Mins">
      </div>
      <div class="simpleFilmCard" data-link="../../../assets/images/films_profile_covers/TheGoonies.jpg" data-time="30 Mins">
      </div>
    </div>
  </section>
  <section id="lists">
    <div class="sections">
      <div class="etiqueta-bonita">Listas</div>
      <a href="#">
        <div class="round">
          <div id="cta-lists">
            <span class="arrow primera next "></span>
            <span class="arrow segunda next "></span>
          </div>
        </div>
      </a>
    </div>
    <div class="movies-container">
      <div class="listCard" data-link="../../../assets/images/films_profile_covers/WarnerBros.jpg" data-number="Número de peliculas">
      </div>
      <div class="listCard" data-link="../../../assets/images/films_profile_covers/Universal.jpg" data-number="Número de peliculas">
      </div>
      <div class="listCard" data-link="../../../assets/images/films_profile_covers/johnWick.jpg" data-number="Número de peliculas">
      </div>
      <div class="listCard" data-link="../../../assets/images/films_profile_covers/Disney.jpg" data-number="Número de peliculas">
      </div>
      <div class="listCard" data-link="../../../assets/images/films_profile_covers/marvel.jpg" data-number="Número de peliculas">
      </div>
    </div>
  </section>
</div>

<div id="footer"></div>



<script src="../../components/header/header.js"></script>
<script src="../../components/profile-header/profile-header.js"></script>
<script src="../../components/profile-header/script1.js"></script>
<script src="../../components/film_card/simple_card/film_card.js"></script>
<script src="../../components/film_card/list_card/list_card.js"></script>
<script src="../../components/sidebar/sidebar.js"></script>
<script src="../../components/footer/footer.js"></script>
<script src="../../components/search-menu/search-menu.js"></script>

</body>

</html>
