

  <div id="sidebar" [class.open]="isOpen">
    <div *ngIf="!authService.isLoggedIn">
      <ul>
        <li><a [routerLink]="['/register']"><button>Registrarse</button></a></li>
        <li><a [routerLink]="['/login']"><button>Iniciar sesión</button></a></li>
      </ul>
    </div>
    <div *ngIf="authService.isLoggedIn">
      <ul>
        <li>{{ authService.isLoggedIn }}</li>
        <li>{{ "a" }}</li>
        <li><button (click)="logout()">Cerrar sesión</button></li>
      </ul>
    </div>
  </div>
