

  <div id="sidebar" [class.open]="isOpen">
    <div *ngIf="!authService.isLoggedIn">
      <ul>
        <li><a [routerLink]="['/register']"><button>Registrarse</button></a></li>
        <li><a [routerLink]="['/login']"><button>Iniciar sesión</button></a></li>
      </ul>
    </div>
    <div *ngIf="authService.isLoggedIn">
      <div *ngFor="let file of fileUploads">
        <img [src]="file.url" [alt]="file.name">
      </div>
      <ul>
        <li><button (click)="logout()">Cerrar sesión</button></li>
      </ul>
    </div>
  </div>
